.scrolled {
  top: 0;
  position: fixed;
  width: 100%;
}

.scrolled-info {
  width: 100%;
  position: fixed;
  top: 62px;
}

@media screen and (min-width: 768px) {
  .scrolled {
    width: 85% !important;
  }
  .scrolled-info {
    width: 85%;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding: 10px 5px;
}

.search-form {
  padding: 0 15px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .search-form {
    width: 65%;
  }
}
@media screen and (min-width: 1268px) {
  .search-form {
    width: 60%;
  }
}

/* input */
.search-input {
  flex: 1;
  color: rgb(44, 44, 44);
  height: 42px;
  line-height: 42px;
  border: none;
}

.search-input:focus {
  border: none;
  outline: none;
}

.search-input::placeholder {
  color: rgb(179, 179, 179);
}

/* left side search icon */
.fa-search {
  font-size: 1.65em;
  padding-right: 10px;
  color: #ff6600;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* reset button */
.search-reset {
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.search-reset:focus {
  outline: none;
}
.fa-circle {
  color: rgb(199, 199, 199);
  font-size: 1.3em;
  cursor: pointer;
}
.fa-circle:hover {
  color: rgb(143, 143, 143);
}

.circle-show {
  animation: animateButtonIn 0.3s ease-in-out forwards;
}
.circle-hide {
  animation: animateButtonOut 0.3s ease-in-out forwards;
}
@keyframes animateButtonIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
}
@keyframes animateButtonOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* search info bar */
.search-info {
  display: flex;
  justify-content: space-between;
  background: #fdfdfd;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 0.9em;
}
/* search results */
.search-results {
  margin-top: 0px;
}

.scrolled-results {
  margin-top: 115px;
}
